<%- include('layouts/head.ejs')%>
<body>
    <%- include('layouts/header.ejs')%>
    <%- include('layouts/slider.ejs')%>

    <section>
		<div class="container">
			<div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Danh mục sản phẩm</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <% for(let i = 0; i < category.length; i++) { %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="/danh-muc-san-pham/<%= category[i]._id %>"><%= category[i].category_name %></a></h4>
                                </div>
                            </div>
                            <% } %>
                        </div><!--/category-products-->
                        <div class="brands_products"><!--brands_products-->
                            <h2>Thương hiệu sản phẩm</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <% for(let i = 0; i < brand.length; i++) { %>
                                    <li><a href="/thuong-hieu-san-pham/<%= brand[i]._id %>"> <span class="pull-right">(50)</span><%= brand[i].brand_name %></a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div><!--/brands_products-->
                    </div>
                </div>
                <div class="col-sm-9 padding-right">
                    <%- include('pages/home.ejs')%>
                </div>
            </div>
            <% body %>

            
		</div>
	</section>

<%- include('layouts/footer.ejs')%>
<%- include('layouts/end.ejs')%>